$light : honeydew;

body{
  background-color: white;
}

.jumbotron{

}

header{

  background-color: white;

  .logo{
    width: 115px;
  }
}

#container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  border: 1px solid red;
}

.card{
  // flex: 0 1 20%;
  // display: flex;
  // flex-flow: row wrap;
  // min-height: 300px;
  margin: 25px;
  max-width: 20%;
}


.panel-heading{
  font-size: 30px;
  text-align: center;
}