body {
  background-color: white; }

header {
  background-color: white; }
  header .logo {
    width: 115px; }

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  border: 1px solid red; }

.card {
  margin: 25px;
  max-width: 20%; }

.panel-heading {
  font-size: 30px;
  text-align: center; }
